.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 600px;
}

.portfolio {
    background-color: #eee;
}

.contact {
    min-height: 800px;
}

footer {
    background-color: #333;
    color: #aaa;
    min-height: 120px;
}

footer p {
    font-size: 0.9em;
    padding-top: 40px;
}

footer p i {
    color: salmon;
}